@import '../../../assets/css/variables-mixins';

:host {
  height: 35px;
  .mobile-header {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-pure-white;
    h3 {
      margin: 0;
    }
    .icon-container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 10px;
      display: flex;
      align-items: center;
    }
  }
}
