@import '../../../assets/css/variables-mixins';

:host {
  padding: 35px;
  padding-top: 50px;

  .reset-password-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    display: flex;
    flex-direction: row;
    transition: all 0.3s;

    & > div {
      flex: 1;
      padding: 35px;
      display: flex;
      flex-direction: column;
    }
    &.confirm {
      transform: translateX(-50%);

      .reset-password-confirm {
        opacity: 1;
      }
      .reset-password-form {
        opacity: 0;
      }
    }

    .reset-password-confirm {
      height: 70%;
      opacity: 0;
    }
  }

  .text-sm, .text-md {
    color: $color-grey;
  }

  form {
    app-text-input {
      margin-top: 50px;
    }

    button {
      margin-top: 20px;
    }

    .form-link {
      text-align: center;
      padding-top: 25px;
    }
  }
}
