@import '../../../assets/css/variables-mixins';

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 35px;

  .text-md,
  .text-sm {
    color: $color-grey;
  }

  form {
    button {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
