@import '../../../assets/css/variables-mixins';
$left-padding: 8px;
$right-padding: $drawer-gutter - 23;

:host {
  width: $control-drawer-width;
  max-width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  overflow-x: hidden;
  padding: 15px;
  padding-right: 0;

  .title {
  }

  .column {
    display: flex;
    flex: 1;
    align-items: flex-start;
  }

  .table-container, .title-container {
    width: 100%;
    display: flex;
    flex: 1
  }

  .title-container md-list {
    width: 100%;
  }

  .table-container {
    position: relative;
    flex-direction: column;
    margin-bottom: 35px;

    .list-row {
      padding-left: 10px;
    }
  }

  app-pager {
    position: absolute;
    right: 10px;
    top: -30px;
  }
}
