@import '../../../assets/css/variables-mixins';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 35px;

  .text-sm, .text-md, .text-lg {
    color: $color-grey;
  }

  form {
    margin-top: 50px;

    button {
      margin-top: 20px;
    }
  }

  .bad-token {
    text-align: center;

    md-icon {
      font-size: 28pt;
      height: 30px;
      width: 30px;
      position: relative;
      top: 5px;
    }

    .new-link {
      margin-top: 30px;
    }

  }
}
