<div *ngIf="form">
  <h1>Set Your Password</h1>
  <p class="text-md">Please enter your new password.</p>
  <form flex layout="column" layout-align="center" [formGroup]="form" (ngSubmit)="submit()">
    <app-text-input [action]="action" field="password" floatPlaceholder></app-text-input>
    <app-text-input [action]="action" field="password_confirm" placeholder="CONFIRM" floatPlaceholder></app-text-input>
    <button md-button type="submit" [disabled]="!form.valid" class="btn-submit">Submit</button>
  </form>
</div>

<div *ngIf="!form" flex layout="column">
  <div class="bad-token" flex layout="column" layout-align="center">
    <h1>Token Error <md-icon>warning</md-icon></h1>
    <p class="text-lg">This link has expired.  Use the button below to get a new one.</p>
    <button md-button routerLink="/reset-password" class="btn-submit new-link">Get a new link</button>
  </div>
  <a routerLink="/" class="text-sm text-center">Back</a>
</div>
